body {
    background-image : url("./background380x250.png");
    height: 250px;
    width: 380px;
}

#downloads {
    margin-right: 10px;
}

.social {
    margin-right: 10px;
}

#countContainer{
    height: 180px;
    background-color: rgba(26, 44, 44, 0.3);
}

#socialContainer {
    margin-top: 10px;
}